/build
/debug
/dist/default/debug
/dist/default/production/*.cmf
/dist/default/production/*.elf
/dist/default/production/*.hxl
/dist/default/production/*.lst
/dist/default/production/*.map
/dist/default/production/*.mum
/dist/default/production/*.o
/dist/default/production/*.rlf
/dist/default/production/*.s
/dist/default/production/*.sbd
/dist/default/production/*.sym
/dist/default/production/*.xml
/dist/default/production/*.unified.hex
/queuelogs
/nbproject/private
/nbproject/*.mk
/nbproject/*.properties
/disassembly
/.generated_files
*.bak*
*.log
*.lst
*.rlf
*.map
*.sdb
*.txt
*.inx
*.yml
# MPLAB for VS Code
.generated_files/
build/
dist/
nbproject/
Makefile*
Package-*
private/
_build/
!cmake/**/user.cmake
cmake/**/.generated/*
cmake/**/CMake*
out/**/default*
out/**/*.xml
out/**/*.elf
out/**/*.lst
out/**/*.map